@model Category
@{
   ViewBag.Title = "Add";
   ViewBag.SubmitButtonText = "Add";
   ViewBag.Action = "add";
}

@section mainTitle {
   <h3>Add Category</h3>
}

<partial name="_Category" model="Model" />

