
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="container">
    <ul>
        <li>帳號: @ViewBag.id</li>
        <li>密碼: @ViewBag.password</li>
    </ul>
    <div>
        <a href="~/Default/Index" name="link" class="btn btn-sm btn-default">回登入畫面</a>
    </div>
</div>