/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
  }
  
  table th, table td {
    padding: 8px;
    text-align: center;
  }
  
  thead {
    background-color: #eee;
  }
  