@model project.Models.Sheep

@{
    ViewData["Title"] = "新增資料";
}

<h1>新增資料</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarketName" class="control-label"></label>
                <input asp-for="MarketName" class="form-control" />
                <span asp-validation-for="MarketName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Num" class="control-label"></label>
                <input asp-for="Num" class="form-control" />
                <span asp-validation-for="Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgWeight" class="control-label"></label>
                <input asp-for="AvgWeight" class="form-control" />
                <span asp-validation-for="AvgWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighestPrice" class="control-label"></label>
                <input asp-for="HighestPrice" class="form-control" />
                <span asp-validation-for="HighestPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgPrice" class="control-label"></label>
                <input asp-for="AvgPrice" class="form-control" />
                <span asp-validation-for="AvgPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
