@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="mt-8 flex justify-center">
    <div>
        <h2 class="@Html.ClassNames(Css.H2)">@ViewData["Title"]</h2>
        <p class="my-4">Your password has been reset. Please <a asp-action="Login">click here to log in</a>.</p>
    </div>
</div>
