@{
    ViewData["Title"] = "Personal Profile";
}
<h1>@ViewData["Title"]</h1>

<h2>Personal Information</h2>
<ul>
    <li>Name: CHEN, KE-RONG </li>
    <li>Email: krameri120@gmail.com</li>
    <li>Job: Bachelor</li>
</ul>


<h2>Achievements</h2>
<ul>
    <li>School Team: National Tainan Industrial High School Dragon Boat</li>
    <li>2020 Tainan City International Dragon Boat Championships: 2nd Place</li>
    <li>Sports Club: Street Workout <a href="https://www.instagram.com/teamlong_sw/">teamlong</a></li>
    <li>National Tainan Industrial High School Independent Study Competitions: 1st Place</li>
    <li>National Tainan Industrial High School 108 Badminton Game: 2nd Place</li>
    <li>National Tainan Industrial High School 80th Sportswear Design Competition: Champion</li>
    <li>KAWAI Piano Performance Grade: 7</li>
    <li>CPE (Collegiate Programming Examination) Problem Solved: <a href="https://github.com/kerong2002/Contest_Photo/blob/main/2022/2022_12_12_CPE.jpg">5/7</a> (Rank: 62/2502 -> 2.5%)</li>
    <li>2022/10 ~ 2023/01: School Allies (Teaching Subjects: Calculus / C++ Programming)</li>
    <li>2022/03/30: 2022 Integrated Circuit Design Contest <a href="https://github.com/kerong2002/Contest_Photo/blob/main/2022/110%E5%AD%B8%E5%B9%B4%E5%BA%A6(2022)%E7%AC%AC25%E5%B1%86%E2%BC%A4%E5%AD%B8%E9%99%A2%E6%A0%A1%E7%A9%8D%E9%AB%94%E9%9B%BB%E8%B7%AF(IC)%E8%A8%AD%E8%A8%88%E7%AB%B6%E8%B3%BD.png">Group E</a></li>
    <li>2022/10/01: 2022 National Collegiate Programming Contest <a href="https://github.com/kerong2002/Contest_Photo/blob/main/2022/2022NCPC_preliminary_certificate.PNG">Preliminary</a> (Team: Segmentation Fault)</li>
    <li>2022/10/15: 2022 National Collegiate Programming Contest <a href="https://github.com/kerong2002/Contest_Photo/blob/main/2022/2022NCPC_FINAL_certificate.PNG">Final</a> (Team: Segmentation Fault)</li>
    <li>2022/10/22: 2022 ICPC Asia Taiwan Online Programming Contest <a href="https://github.com/kerong2002/Contest_Photo/blob/main/2022/2022TOPC_team_certificate.PNG">TOPC</a> (Team: Segmentation Fault)</li>
    <li>2022/11/19-21: 2022 ICPC Asia Taoyuan Regional Programming Contest <a href="https://github.com/kerong2002/Contest_Photo/blob/main/2022/2022%20ICPC%20Asia%20Taoyuan%20Regional%20Programming%20Contest%20team.PNG">Regional</a> (Team: Segmentation Fault)</li>
    <li>2023/03 ~ 2023/06: School Allies (Teaching Subjects: Calculus / Linear Algebra / Computer Networking)</li>
    <li>2023/03/29: 2023 Integrated Circuit Design Contest <a href="https://github.com/kerong2002/Contest_Photo/blob/main/2023/111%E5%AD%B8%E5%B9%B4%E5%BA%A6(2023)%E7%AC%AC26%E5%B1%86%E2%BC%A4%E5%AD%B8%E9%99%A2%E6%A0%A1%E7%A9%8D%E9%AB%94%E9%9B%BB%E8%B7%AF(IC)%E8%A8%AD%E8%A8%88%E7%AB%B6%E8%B3%BD.jpg">Group E</a></li>
    <li>2023/06/29: 2023 Technology University Programming Contest <a href="https://github.com/kerong2002/Contest_Photo/blob/main/2023/2024-TUPC2023-MEDAL.pdf">Bronze Medal 🥉</a> (Team: NKUST_XP)</li>
    <li>2023/09/16: 2023 ICPC Asia Taiwan Online Programming Contest <a href="https://github.com/kerong2002/Contest_Photo/blob/main/2023/2024-ICPC%20Asia%20Taiwan%20PC-CHEN%2CKE-RONG-MEDAL.pdf">TOPC</a> (Team: NKUST_XP)</li>
    <li>2023/09/24: 2023 National Collegiate Programming Contest <a href="https://github.com/kerong2002/Contest_Photo/blob/main/2023/2023NCPC%E5%88%9D%E8%B3%BD%E5%8F%83%E8%B3%BD%E8%AD%89%E6%98%8E.pdf">Preliminary</a> (Team: NKUST_XP)</li>
    <li>2023/10/15: 2023 National Collegiate Programming Contest <a href="https://github.com/kerong2002/Contest_Photo/blob/main/2023/2023NCPC%E6%B1%BA%E8%B3%BD%E5%8F%83%E8%B3%BD%E8%AD%89%E6%98%8E.pdf">Final</a> (Team: NKUST_XP)</li>
    <li>2023/10/21-22: 2023 ICPC Asia Taoyuan Regional Programming Contest <a href="https://github.com/kerong2002/Contest_Photo/blob/main/2023/2024-ICPC%20Asia%20Taoyuan%20Regional%20PC-CHEN%2CKE-RONG-HONORABLE.pdf">Regional</a> (Team: NKUST_XP)</li>
    <li>2024/07/10: 2024 Technology University Programming Contest <a href="https://github.com/kerong2002/Contest_Photo/blob/main/2024/2025-ICPC%20TUPC%202024-CHEN%2CKE-RONG-MEDAL.pdf">Bronze Medal 🥉</a> (Team: NKUST_XP)</li>
</ul>

<h2>Project</h2>
<ul>
    <table>
        <tr>
            <td>Computer Programming</td>
            <td><a href="https://github.com/kerong2002/C_Language_Note">C language note</a></td>
            <td>Computer Programming</td>
            <td><a href="https://github.com/kerong2002/110-C_Final_Project">UVa_Project</a></td>
            <td>Python</td>
            <td><a href="https://github.com/kerong2002/Discord-Bot">Discord bot mini games</a></td>
        </tr>
        <tr>
            <td>Python TKinter</td>
            <td><a href="https://github.com/kerong2002/Minesweeper">Minesweeper</a></td>
            <td>Object-oriented Programming</td>
            <td><a href="https://github.com/kerong2002/RPG_game">RPG_game</a></td>
            <td>FPGA</td>
            <td><a href="https://github.com/kerong2002/Tilted_Image_Correction">Tilted_Image_Correction</a></td>
        </tr>
        <tr>
            <td>Digital System Design</td>
            <td><a href="https://github.com/kerong2002/111-practices-of-digtal-system-design">Practices</a></td>
            <td>Digital System Design</td>
            <td><a href="https://github.com/kerong2002/FPGA_TETRIS">TETRIS</a></td>
            <td>Digital System Design</td>
            <td><a href="https://github.com/kerong2002/HDLbits">HDLbits</a></td>
        </tr>
        <tr>
            <td>Microcomputer Practice</td>
            <td><a href="https://github.com/kerong2002/temperature_bluetooth_with_8051">MCU_temperature_APP</a></td>
            <td>FPGA</td>
            <td><a href="https://github.com/kerong2002/YOLOV5">YOLOV5</a></td>
            <td>Computer Networking</td>
            <td><a href="https://kerong2002.github.io/">Personal website</a></td>
        </tr>
        <tr>
            <td>Github Action</td>
            <td><a href="https://github.com/kerong2002/github_action">Count_CPP_File</a></td>
            <td>Data Structure</td>
            <td><a href="https://github.com/kerong2002/CPlusPlus_Algorithm">CPlusPlus-Algorithm</a></td>
            <td>Data Structure</td>
            <td><a href="https://github.com/kerong2002/Code-Judge">Code Judge</a></td>
        </tr>
        <tr>
            <td>Engineering Mathematics</td>
            <td><a href="https://github.com/kerong2002/LaTeX">LaTeX</a></td>
            <td>Computer Networking</td>
            <td><a href="https://github.com/kerong2002/Gobang">Gobang Socket</a></td>
            <td>Independent Study</td>
            <td><a href="https://github.com/kerong2002/Reinforcement_Learning">Reinforcement Learning</a></td>
        </tr>
        <tr>
            <td>VLSI</td>
            <td><a href="https://github.com/kerong2002/VLSI">Cadence</a></td>
            <td>Image Processing</td>
            <td><a href="https://github.com/kerong2002/image_processing">Practices</a></td>
            <td>Digital IC Design Practice</td>
            <td><a href="https://github.com/kerong2002/Discrete-Wavelet-Transform">Discrete Wavelet Transform</a></td>
        </tr>
        <tr>
            <td>Probability</td>
            <td><a href="https://github.com/kerong2002/Probability">Class Note</a></td>
            <td>Zoom_in</td>
            <td><a href="https://github.com/kerong2002/Bicubic-Resize-Engine">Bicubic-Resize-Engine</a></td>
            <td>Independent Study</td>
            <td><a href="https://github.com/kerong2002/Hollow_Knight_RL">Hollow_Knight_RL</a></td>
        </tr>
    </table>
</ul>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<p>
    <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=kerong2002&layout=compact&hide_border=true&langs_count=100&theme=buefy" alt="krameri120's LeetCode Stats" width="46%" />
    <img src="https://stats.justsong.cn/api/leetcode/?username=krameri120&theme=jolly&hide_border=true" alt="krameri120's LeetCode Stats" width="46%" />
</p>
