@{
    ViewBag.Title = "Home Page";
}

@section mainTitle {
    <h3>Welcome to Home</h3>
    <p>
        Welcome to our website! We are thrilled to have you here. Explore our amazing features and learn more about what we offer.
    </p>
    <p>
        If you're new to the site, feel free to check out our <a href="/About">About Us</a> page to learn more about our mission and values.
        You can also visit our <a href="/Services">Services</a> page to explore what we do and how we can help you.
    </p>
    <p>
        Don't forget to sign up for our newsletter to stay updated on the latest news and special offers. Thank you for visiting!
    </p>
}
