@using Nkust.Web.Entities
@model Nkust.Web.Entities.PoliceStation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PoliceStation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PoliceOfficeId" class="control-label"></label>

                <select name="PoliceOfficeId">
                    <option value="">-- Select Police Office --</option>
                    @foreach (PoliceOffice item in ViewBag.PoliceOffices)
                    {
                        <option value="@item.Id">@item.DisplayName</option>
                    }
                </select>

                @* <select asp-for="PoliceOffice.DisplayName" class="form-control" asp-items="ViewBag.PoliceOfficeId"></select> *@
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

