<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SqlUnitTesting" type="Microsoft.Data.Tools.Schema.Sql.UnitTesting.Configuration.SqlUnitTestingSection, Microsoft.Data.Tools.Schema.Sql.UnitTesting, Version=17.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <SqlUnitTesting>
    <DataGeneration ClearDatabase="true" />
    <ExecutionContext Provider="Microsoft.Data.SqlClient" ConnectionString="Data Source=IAMPLAYSOLOW\SQLEXPRESS;Initial Catalog=nightmarket;Integrated Security=True;Persist Security Info=False;Pooling=False;Multiple Active Result Sets=False;Connect Timeout=60;Encrypt=False;Trust Server Certificate=True;Command Timeout=0"
      CommandTimeout="30" />
    <PrivilegedContext Provider="Microsoft.Data.SqlClient" ConnectionString="Data Source=IAMPLAYSOLOW\SQLEXPRESS;Initial Catalog=nightmarket;Integrated Security=True;Persist Security Info=False;Pooling=False;Multiple Active Result Sets=False;Connect Timeout=60;Encrypt=False;Trust Server Certificate=True;Command Timeout=0"
      CommandTimeout="30" />
  </SqlUnitTesting>
  <system.data>
    <DbProviderFactories>
      <add name="Microsoft SqlClient Data Provider" invariant="Microsoft.Data.SqlClient" description="Microsoft SqlClient Data Provider for SqlServer" type="Microsoft.Data.SqlClient.SqlClientFactory, Microsoft.Data.SqlClient" />
    </DbProviderFactories>
  </system.data>
</configuration>