@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "登入";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">連接您的 @Model.ProviderDisplayName 帳戶</h2>
<hr />

<p id="external-login-description" class="text-info">
    您已成功通過身份驗證 <strong>@Model.ProviderDisplayName</strong>。
    請至信箱點選以下網址，以完成登入。
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="off" placeholder="請輸入信箱" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">登入</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
